@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;0,800;0,900;1,700;1,800&display=swap');

@import "tailwindcss";

@layer base {
  body {
    font-family: 'Nunito', sans-serif;
  }
}

@theme {
  --animate-fade-in: fadeIn 0.4s ease;
  @keyframes fade-in {
    from { opacity: 0; transform: translateY(12px); }
    to   { opacity: 1; transform: translateY(0); }
  }
}
